[submodule "submodules/vec"]
	path = submodules/vec
	url = https://github.com/richard-egeli/vec
[submodule "submodules/map"]
	path = submodules/map
	url = https://github.com/richard-egeli/map
[submodule "submodules/mpx"]
	path = submodules/mpx
	url = git@github.com:richard-egeli/mpx.git
